div#header-section {
  height: 40px;
  background-color: #3764eb;
}
header {
  height: 100%;
}
span.header-div:not(:last-child) {
  display: inline-block;
  height: 100%;
  border-right: 1px solid white;
}
span.header-div:first-of-type {
  width: 60%;
}
span.header-div {
  width: 20%;
  padding: 10px;
  color: white;
  font-size: 14px;
}
